<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>cloth_form</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <form action="/get_clothes" method="post">
            <input type="radio" name="get_clothes" value="1" />ピッタリサイズ<br/>
            <input type="radio" name="get_clothes" value="2" />普通サイズ<br/>
            <input type="radio" name="get_clothes" value="3" />オーバーサイズ<br/>
            <input type="submit" value="送信/身長・股下の計測へ">
        </form>
    </body>
</html>