<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>cloth_form</title>
        <meta charset="utf-8"/>
        <meta http-equiv=”refresh” content="1;URL='http://localhost:5000/'" />
    </head>
    <body>
        <style>
            input[type="submit"] {
                font-size: 25px;
                margin: 100px 100px;
            }
        </style>
        <form action="/get_end" method="post">
            <input checked type="radio" name="get_end" value="5"/><br/>
            <input type="submit" value="測定終了">
        </form>
    </body>
</html>